<div class="container">
    <h3 style="color: darkolivegreen;">Welcome {{emailId}}!</h3>

    <h1 align="center">Show Employees</h1> <br/>
    <table class="table table-bordered table-sm table-hover table-striped">

        <thead>
            <tr align="center">
                <th class="bg-info text-white">EmpId</th>
                <th class="bg-info text-white">EmpName</th>
                <th class="bg-info text-white">Salary</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">DOJ</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let emp of employees" align="center">
                <td> {{emp.empId   }}   </td>
                        <td> {{emp.empName | uppercase }} </td>
                        <td> {{emp.salary  | currency: 'INR'}}  </td>
                        <td> {{emp.gender  | lowercase }}  </td>
                        <td> {{emp.country }} </td>
                        <td> {{emp.doj     | date: 'dd-MMM-yyyy'}}     </td>
            </tr>
        </tbody>
        
    </table>

</div>
